/* space-mono-regular - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/space-mono-v12-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* space-mono-700 - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/space-mono-v12-latin-700.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lexend-deca-regular - latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Space Mono", monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 39px;
}

.site-header {
  padding: 22px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header__left {
  display: flex;
  gap: 58px;
}

.header__ham {
  display: none;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.header__item + .header__item {
  margin-left: 32px;
}

.header__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.header__link:hover {
  color: #FCB72B;
}

.header__button {
  width: 180px;
  padding: 14px 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  border: 3px solid #FCB72B;
  background-color: #FCB72B;
}

.header__button:hover {
  background-color: transparent;
  color: #FCB72B;
}

.header__button:active {
  background-color: #FCB72B;
  color: #FFFFFF;
}

@media only screen and (max-width: 700px) {
  .header__button {
    display: none;
  }
  .header__left {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }
}
@media only screen and (max-width: 470px) {
  .header__img {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .header__ham {
    display: block;
  }
  .header__list {
    display: none;
  }
}
@media only screen and (max-width: 380px) {
  .header__img {
    justify-content: center;
    gap: 70px;
  }
}
@media only screen and (max-width: 290px) {
  .site-header {
    width: 290px;
  }
}
.hero-section {
  padding: 153px 0;
  background-image: url(../../images/hero-bg-2.png), url(../../images/hero-bg-1.png), url(../../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 205px 15px, 447px 138px, cover;
  background-position: calc(50% - 657px) 350px, calc(50% + 220px) 350px, right;
}

.hero__top {
  width: 500px;
}

.hero__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  color: #FFFFFF;
  letter-spacing: -2.5px;
}

.hero__bottom {
  position: relative;
  width: 405px;
  margin-left: 97px;
}

.hero__text {
  margin-bottom: 40px;
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.hero__button {
  width: 180px;
  padding: 14px 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  border: 3px solid #FCB72B;
  background-color: #FCB72B;
}

.hero__button:hover {
  background-color: transparent;
  color: #FCB72B;
}

.hero__button:active {
  background-color: #FCB72B;
  color: #FFFFFF;
}

@media only screen and (max-width: 1212px) {
  .hero-section {
    background-image: none, url(../../images/hero-bg-1.png), url(../../images/hero-tablet.png);
    background-position: 0, calc(50% + 220px) 350px, right;
  }
  .hero__bottom {
    margin-left: 0;
  }
}
@media only screen and (max-width: 920px) {
  .hero-section {
    padding-bottom: 217px;
    background-image: none, url(../../images/hero-bg-1.png), url(../../images/hero-tablet.png);
    background-position: 0, calc(50% - 328px) 564px, right;
  }
  .hero {
    text-align: center;
  }
  .hero__top, .hero__bottom {
    margin: 0 auto;
  }
  .hero__title {
    margin-bottom: 24px;
  }
  .hero__text {
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 546px) {
  .hero__top {
    width: 311px;
  }
  .hero__title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.78571px;
  }
  .hero__bottom {
    width: 311px;
  }
  .hero__text {
    margin-bottom: 34px;
  }
}
@media only screen and (max-width: 375px) {
  .hero-section {
    width: 375px;
    background-image: none, url(../../images/hero-bg-1.png), url(../../images/hero-mobile.png);
    background-position: 0, calc(50% - 280px) 564px, right;
  }
}
.list-section {
  padding: 160px 0;
}

.list__line {
  position: relative;
  width: 70%;
  height: 15px;
  background-color: #E5ECF4;
}

.list__img {
  position: absolute;
  top: -40px;
  left: 15%;
}

.list__img-1 {
  position: absolute;
  top: -40px;
  right: 35%;
}

.list__img-2 {
  position: absolute;
  top: -40px;
  right: 0;
}

.list {
  margin-top: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.list__item {
  width: 350px;
}

.list__item > img {
  display: none;
}

.list__title {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.list__text {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

@media only screen and (max-width: 900px) {
  .list-section {
    position: relative;
  }
  .list__line {
    position: absolute;
    top: 96%;
    left: -146px;
    transform: rotateZ(90deg);
  }
  .list__img, .list__img-1, .list__img-2 {
    transform: rotateZ(-90deg);
  }
  .list {
    position: absolute;
    right: 98px;
    margin-top: 0;
    align-items: flex-end;
    flex-direction: column;
  }
  .list__item {
    width: 398px;
  }
}
@media only screen and (max-width: 693px) {
  .list__line {
    display: none;
  }
  .list {
    right: 120px;
  }
  .list__item > img {
    display: block;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 547px) {
  .list {
    left: 70px;
  }
}
@media only screen and (max-width: 472px) {
  .list__item {
    width: 311px;
  }
  .list__item > img {
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .list__title {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.892857px;
  }
  .list__text {
    text-align: center;
  }
}
@media only screen and (max-width: 433px) {
  .list {
    left: 50px;
  }
}
@media only screen and (max-width: 375px) {
  .list-section {
    width: 375px;
  }
  .list {
    left: 20px;
  }
}
.services-section {
  padding: 147px 0 329px;
  background-image: url(../../images/services-img.png), url(../../images/services-img-1.png), url(../../images/services-img-2.png);
  background-repeat: no-repeat;
  background-size: 1084px 450px, 995px 445px, 990px 445px;
  background-position: calc(50% + 562px) 75px, calc(50% - 612px) 668px, calc(50% + 650px) 1320px;
}

.services__item {
  width: 445px;
}

.first {
  margin-bottom: 292px;
}

.services__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.services__text {
  margin-bottom: 40px;
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.services__button {
  width: 180px;
  padding: 14px 0;
  border: 3px solid #FCB72B;
  background-color: #FCB72B;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.services__button:hover {
  background-color: transparent;
  color: #FCB72B;
}

.services__button:active {
  background-color: #FCB72B;
  color: #FFFFFF;
}

.second {
  display: grid;
  grid-template-columns: 700px 445px;
  margin-bottom: 292px;
}

.services__hidden {
  opacity: 0;
}

.second > span {
  opacity: 0;
}

@media only screen and (max-width: 1210px) {
  .second {
    grid-template-columns: 550px 445px;
  }
}
@media only screen and (max-width: 1062px) {
  .services-section {
    background-image: url(../../images/services-img.png), url(../../images/services-img-1.png), url(../../images/services-img-2.png);
    background-position: calc(50% + 332px) 0, calc(50% - 380px) 1000px, calc(50% + 375px) 1970px;
  }
  .services__item {
    margin: 0 auto;
  }
  .first {
    margin-top: 390px;
    margin-bottom: 629px;
  }
  .services__title {
    margin-bottom: 40px;
    text-align: center;
  }
  .services__text {
    text-align: center;
  }
  .services__button {
    margin: 0 auto;
    display: block;
  }
  .second {
    display: block;
    margin: 0 auto;
  }
  .third {
    margin-top: 629px;
  }
}
@media only screen and (max-width: 901px) {
  .services-section {
    margin-top: 690px;
  }
}
@media only screen and (max-width: 640px) {
  .services-section {
    margin-top: 500px;
    background-image: url(../../images/services-mobile.png), url(../../images/services-mobile-1.png), url(../../images/services-mobile-2.png);
    background-size: 311px 311px;
    background-position: calc(50% - 0px) 170px, calc(50% - 20px) 1005px, calc(50% + 12px) 1850px;
  }
  .first {
    margin-bottom: 487px;
  }
  .third {
    margin-top: 487px;
  }
}
@media only screen and (max-width: 515px) {
  .services__item {
    width: 311px;
  }
  .services__title {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 32px;
  }
  .services__text {
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 375px) {
  .services-section {
    width: 375px;
    background-image: url(../../images/services-mobile.png), url(../../images/services-mobile-1.png), url(../../images/services-mobile-2.png);
    background-position: calc(50% + 32px) 170px, calc(50% - 32px) 1005px, calc(50% + 32px) 1850px;
  }
}
.site-article {
  position: relative;
  padding: 122px 0;
  background-color: #495567;
}

.article__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.article__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article__title {
  width: 415px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
}

.article__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 18px;
}

.article__button {
  width: 159px;
  padding: 9px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E5ECF4;
  border-radius: 4px;
  border: none;
}

.article__button > img {
  margin-left: 16px;
}

.article__item {
  margin-left: 12px;
  text-align: left;
}

.article__subtext {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.446429px;
  color: #495567;
}

.article__subtitle {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.892857px;
  color: #495567;
}

.article__button:nth-child(2) {
  width: 182px;
}

@media only screen and (max-width: 900px) {
  .article__inner {
    flex-direction: column;
    gap: 40px 0;
  }
  .article__title {
    text-align: center;
  }
}
@media only screen and (max-width: 455px) {
  .article__title {
    width: 311px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
  }
  .article__item {
    margin-left: 8px;
  }
  .article__button {
    width: 145px;
  }
  .article__button:nth-child(2) {
    width: 165px;
  }
}
@media only screen and (max-width: 375px) {
  .site-article {
    width: 375px;
  }
}
.site-footer {
  padding: 36px 0;
  background: #333A44;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.footer__left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 58px;
}

.footer__list {
  display: flex;
}

.footer__item + .footer__item {
  margin-left: 32px;
}

.footer__item > a {
  color: #939CAA;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}

.footer__item > a:hover {
  color: #FCB72B;
}

.footer__icons {
  display: flex;
  align-items: center;
}

.footer__icon + .footer__icon {
  margin-left: 24px;
}

.footer__link > svg {
  color: #FCB72B;
}

.footer__link > svg:hover {
  color: #E5ECF4;
}

.footer__hidden {
  display: none;
}

@media only screen and (max-width: 650px) {
  .site-footer {
    padding: 64px 0 88px;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__img {
    display: none;
  }
  .footer__hidden {
    margin-bottom: 42px;
    display: block;
  }
  .footer__list {
    margin-bottom: 85px;
    flex-direction: column;
    gap: 16px;
  }
  .footer__item + .footer__item {
    margin-left: 0;
  }
  .end {
    padding-left: 5px;
  }
  .footer__item {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 375px) {
  .site-footer {
    width: 375px;
  }
}/*# sourceMappingURL=main.css.map */